/* Paleta de colores */

:root{
    --color-one: #a6051a;
    --color-two: #ffeb00;
    --color-three: #ffffff;
    --color-four: #111111;
    --color-five: #121f45;
    --color-six: #223971;
    --color-seven: #cc1e4a;
    --color-eigth: #ffc906;
    --color-nine: #00352f;
    --color-ten: #00594f;
}

/* Inicio y generalidades */

*{
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    background-image: url(../img/logo\ \(4\).png);
    background-size: 100% 100%;
    height:300px;
}

.noti{
    display: none;
}

nav{
    background-color: var(--color-nine);
    text-align: center;
    padding: 1px;
    margin: 0;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a:hover{
    background-color: var(--color-three);
    color: var(--color-four);
    border-radius: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    background-color: var(--color-ten);
    margin-bottom: 30px;
}

aside{
    background-color: var(--color-four);
    padding: 10px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

aside p{
    color: var(--color-three);
}

aside h3{
    color: var(--color-three);
}

aside h4{
    color: var(--color-three);
}


.imgaside{
    height: auto;
    width: 300px;
    border-radius: 5px;
}

.imgaside:hover{
    transform: scale(1.1)
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

footer {
    background-color: var(--color-four);
    color: var(--color-three); 
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

/* Div cabecera pagina historia*/

.grid-container div img{
    height: 120px;
    width: 100%;
}

.grid-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-three);
    height: 120px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 23px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 2px;
}

.navhis{
    background-color: var(--color-four);
    position: sticky;
    top: 50px;
    z-index: 0;
}

/* main historia */

.mainhis h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-three);
}

.mainhis h3{
    color: var(--color-three);
}

.emotesh{
    height: 25px;
    width: auto;
}

.camp{
    display: grid;
    grid-template-columns: 25% 20% 19% 18% 18%;
    background: linear-gradient(to right, var(--color-ten)10%, var(--color-three)50%, var(--color-ten)88%);
}

.campeones .ms{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.campeones .tri{
    color: var(--color-nine);
}

.campeones .tetra{
    color: var(--color-nine)
}

.campeones .bi{
    color: var(--color-nine);
}

.campeones  .multi{
    color: var(--color-three);
}

.campeones .mono{
    color: var(--color-three)
}

.escampeonas{
    background: linear-gradient(to right, var(--color-ten)10%, var(--color-three)50%, var(--color-ten)88%);
}

.tic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-ten);
    padding-bottom: 20px;
}

.unset{
    list-style-type: none;
}

.escampeonas1 .sf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: var(--color-four);
    background: radial-gradient(var(--color-eigth));
}

.escampeonas1 ul li p{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

/* Titulos */

.titlehis{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.titlecal{
    display: flex;
    justify-content: center;
    color: var(--color-three);
    position: sticky;
    padding: 0;
}

.titlerel{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.titlecon{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.maincon{
    height: 100vh;
}

.formcon{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Formulario de contacto */

fieldset{
    background-color: var(--color-four);
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 10px;
    width: fit-content;
    font-size: 1.4rem;
    border: var(--color-one) 5px solid ;
    border-radius: 10px;
}

fieldset legend{
    padding: 5px;
}

.labelcon{
    color: var(--color-three);
    text-align: center;
}

.legendcon{
    color: var(--color-three);
    background-color: var(--color-four);
    border-radius: 5px;
}

.imgcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
    border-radius: 60px;
    padding:40px
}

/* Calendario */

.maincalen{
    background-color: var(--color-ten);
    margin-bottom: 50px;
}

.imgcal{
    height: 330px;
    width: auto;
    padding: 10px;
}

.imgcalmon{
    height: 348px;
    width: auto;
    padding: 10px;
}


.divimgc{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.titlescal{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.divimgc div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: var(--color-one) 5px solid ;
    border-radius: 10px;
    background-color: var(--color-three);
}

.divimgc div h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background: linear-gradient(to right, var(--color-four), var(--color-four), var(--color-three) 98%);
    color: var(--color-three);
    margin-top: 0;
}

.emotes{
    height: 30px;
    width: auto;
}

.emoteazer{
    height: 25px;
    width: 30px;
    margin: 2px;
}

.divimgc div p{
    margin: -5px;
}

.divimgc div h4{
    padding: -5px;
}

.divimgc div h3{
    margin-top: -10px;
}

/*Media Querys*/

@media (max-width: 1440px) {
    aside{
        width: 300px;
    }

    section{
        width: 250px;
    }

    .imgaside{
        width: 250px;
    }

    .divimgc{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    
}

@media (max-width: 1280px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        gap: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-left: 3px;
        margin-right: 2px;
    }
}

@media (max-width: 900px) {
    aside{
        display: none;
    }

    .noti{
        display: inline;
    }
}
 
@media (max-width: 768px){

    header{
        height: 100px;
        background-image: none;
        background-color: var(--color-five);
        background-size: cover;
    }

    nav{
        display: flex;
        flex-direction: column;
        position: unset;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        position: unset;
    }

    nav a{
        font-weight: 550;
    }

    nav li{
        height: 40px;
    }

    nav ul li a{
        text-align: center;
    }

    .fieldsetcon{
        display: flex;
        flex-direction: column;
    }

    .divimgc{
        display: flex;
        flex-direction: column;
        position: unset;
    }

}

@media (max-width: 560px) {

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-left: 3px;
        margin-right: 2px;
    }

    .grid-container .or2{
        display: none;
    }

    .grid-container .or3{
        display: none;
    }

    .grid-container .or4{
        display: none;
    }

    .grid-container .or7{
        display: none;
    }

    .grid-container .or8{
        display: none;
    }

    .grid-container .or10{
        display: none;
    }

}