/* Paleta de colores */

:root{
    --color-one: #a6051a;
    --color-two: #ffeb00;
    --color-three: #ffffff;
    --color-four: #111111;
    --color-five: #121f45;
    --color-six: #223971;
    --color-seven: #cc1e4a;
    --color-eigth: #ffc906;
    --color-nine: #00352f;
    --color-ten: #00594f;
}

/* Inicio y generalidades */

*{
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    background-image: url(../img/logo\ \(4\).png);
    background-size: 100% 100%;
    height:300px;
}

nav{
    background-color: var(--color-nine);
    text-align: center;
    padding: 1px;
    margin: 0;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a:hover{
    background-color: var(--color-three);
    color: var(--color-four);
    border-radius: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
    background-color: var(--color-ten);
    margin-bottom: 30px;
}

aside{
    background-color: var(--color-four);
    padding: 10px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

aside p{
    color: var(--color-three);
}

aside h3{
    color: var(--color-three);
}

aside h4{
    color: var(--color-three);
}


.imgaside{
    height: auto;
    width: 300px;
    border-radius: 5px;
}

.imgaside:hover{
    transform: scale(1.1)
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

footer {
    background-color: var(--color-four);
    color: var(--color-three); 
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

/* Div cabecera pagina historia*/

.grid-container div img{
    height: 120px;
    width: 100%;
}

.grid-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-three);
    height: 120px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 23px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: 3px;
    margin-right: 2px;
}

.navhis{
    background-color: var(--color-four);
    position: sticky;
    top: 50px;
    z-index: 0;
}

/* main historia */

.mainhis h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-three);
}

.mainhis h3{
    color: var(--color-three);
}

.emotesh{
    height: 25px;
    width: auto;
}

.camp{
    display: grid;
    grid-template-columns: 25% 20% 19% 18% 18%;
    background: linear-gradient(to right, var(--color-ten)10%, var(--color-three)50%, var(--color-ten)88%);
}

.campeones .ms{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.campeones .tri{
    color: var(--color-nine);
}

.campeones .tetra{
    color: var(--color-nine)
}

.campeones .bi{
    color: var(--color-nine);
}

.campeones  .multi{
    color: var(--color-three);
}

.campeones .mono{
    color: var(--color-three)
}

.escampeonas{
    background: linear-gradient(to right, var(--color-ten)10%, var(--color-three)50%, var(--color-ten)88%);
    padding-bottom: 20px;
}

.tic{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-ten);
    padding-bottom: 20px;
}

.unset{
    list-style-type: none;
}

.escampeonas1 .sf{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: var(--color-four);
    background: radial-gradient(var(--color-eigth));
}

.escampeonas1 ul li p{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.hiscirc h2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--color-three);
}

.pieh{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--color-three);
    font-size: 17px;
}


.divcirhis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: var(--color-two) 5px solid ;
    border-radius: 10px;
    background-color: var(--color-six);
}

.divcirhis h3{
    color: var(--color-three);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.imgcirchis{
    height: 500px;
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: var(--color-three);
}

.imgcirchisk{
    height: 500px;
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: var(--color-three);
    padding: 10px;
}

.imgcirchisw{
    height: 500px;
    width: auto;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: var(--color-three);
    padding: 20px;
}

.circhis{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    margin-right: 17px;
    margin-left: 2px;
    margin-bottom:  50px;
}

.circhis p{
    color: var(--color-three);
}



/* Titulos */

.titlehis{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.titlecal{
    display: flex;
    justify-content: center;
    color: var(--color-three);
    position: sticky;
    padding: 0;
}

.titlerel{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.titlecon{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

.maincon{
    height: 100vh;
}

.formcon{
    display: flex;
    justify-content: center;
    align-content: center;
}

.titlenot{
    display: flex;
    justify-content: center;
    color: var(--color-three);
}

/* Formulario de contacto */

fieldset{
    background-color: var(--color-four);
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 10px;
    width: fit-content;
    font-size: 1.4rem;
    border: var(--color-one) 5px solid ;
    border-radius: 10px;
}

fieldset legend{
    padding: 5px;
}

.labelcon{
    color: var(--color-three);
    text-align: center;
}

.legendcon{
    color: var(--color-three);
    background-color: var(--color-four);
    border-radius: 5px;
}

.imgcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
    border-radius: 60px;
    padding:40px
}

/* Calendario */

.maincalen{
    background-color: var(--color-ten);
    margin-bottom: 50px;
}

.imgcal{
    height: 330px;
    width: auto;
    padding: 10px;
}

.imgcalmon{
    height: 348px;
    width: auto;
    padding: 10px;
}


.divimgc{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.titlescal{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.divimgc div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: var(--color-one) 5px solid ;
    border-radius: 10px;
    background-color: var(--color-three);
}

.divimgc div h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    background: linear-gradient(to right, var(--color-four), var(--color-four), var(--color-three) 98%);
    color: var(--color-three);
    margin-top: 0;
}

.emotes{
    height: 30px;
    width: auto;
}

.emoteazer{
    height: 25px;
    width: 30px;
    margin: 2px;
}

.divimgc div p{
    margin: -5px;
}

.divimgc div h4{
    padding: -5px;
}

.divimgc div h3{
    margin-top: -10px;
}

/* Reglamento */

.mainregl{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(../img/reglamento/F1-Bandera_a_cuadros1.png);
    background-size: 25%;
}

.regl h1{
    display: flex;
    justify-content: center;
    align-content: center;
}

.regl h2{
    color: var(--color-three);
}

.regl h3{
    color: var(--color-three);
}

.regl h4{
    color: var(--color-three);
}

.regl p{
    color: var(--color-three);
}

.regl li{
    color: var(--color-three);
}


.regl{
    padding: 30px;
    margin-top: 4%;
    background-color: var(--color-ten);
    margin-bottom: 5%;
    margin-left: 11.6%;
    margin-right: 11.6%;
    border-radius: 30px;
}

.puntcarr{
    height: 90px;
    width: auto;
}

.puntspr{
    height: 300px;
    width: auto;
}

.imgband{
    height: 60px;
    width: auto;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
}

.flagsp{
    display: grid;
    grid-template-columns: 12% 10% 77%;
    align-items: center;
}

#sc{
    width: 80px;
}


/*Media Querys*/

@media (max-width: 1440px) {
    aside{
        width: 300px;
    }

    .indexsec{
        width: 250px;
    }

    .imgaside{
        width: 250px;
    }

    .divimgc{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
    }

    .regl section{
        width: 1096px;
    }
    
    .regl{
        padding: 20px;
        margin-top: 3.5%;
        border-radius: 25px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4.5%;
    }

    .flagsp{
        grid-template-columns: 15% 10% 75%;
    }
    
}

@media (max-width: 1280px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        gap: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-left: 3px;
        margin-right: 2px;
    }

    .circhis{
        margin-right: 10px;
    }

    .divcirhis{
        padding: 15px;
    }

    .regl section{
        width: 966px;
    }
    
    .regl{
        padding: 18px;
        margin-top: 3.5%;
        border-radius: 18px;
        margin-bottom: 3%;
    }

    .imgcirchis{
        margin-right: 3%;
        margin-left: 3%;
    }

    .imgcirchisk{
        margin-right: 3%;
        margin-left: 3%;
    }

    .imgcirchisw{
        margin-right: 3%;
        margin-left: 3%;
    }

    .imgcon{
        margin-bottom: 5%;
        width: 100%;
    }
    
}

@media (max-width: 1080px){
    
    .circhis{
        display: flex;
        flex-direction: column;
        position: unset;
        margin-right: 1px;
    }

    .regl section{
        width: 796px;
    }

    .flagsp{
        grid-template-columns: 20% 15% 65%;
    }


}

@media (max-width: 900px) {
    aside{
        display: none;
    }

    .noti{
        display: inline;
    }

    .camp{
        display: flex;
        flex-direction: column;
        position: unset;
        background: linear-gradient(to right, var(--color-ten)5%, var(--color-three)50%, var(--color-ten)95%);
    }

    .campeones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .campeones .multi{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--color-four);
    }

    .campeones .mono{
        color: var(--color-four);
    }

    .campeones h3{
        color: var(--color-four);
    }

    .campeones .bi{
        color: var(--color-four);
    }
    
    .campeones .tetra{
        color: var(--color-four);
    }

    .campeones .tri{
        color: var(--color-four);
    }

    .escampeonas{
        background: linear-gradient(to right, var(--color-ten)5%, var(--color-three)50%, var(--color-ten)95%);
    }

    .regl section{
        width: 626px;
    }
    
    .regl{
        padding: 15px;
        margin-top: 3%;
        border-radius: 15px;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 4%;
    }

    .flagsp{
        grid-template-columns: 25% 15% 60%;
    }

    .imgcon{
        margin-top: 4%;
        margin-bottom: 15%;
        height: 400px;
        width: auto;
        border-radius: 50px;
        padding: 30px
    }

}
 
@media (max-width: 768px){

    header{
        height: 100px;
        width: auto;
        background-image: url(../img/logo\ responsive+.png);
        background-size: 100% 100%
    }

    nav{
        height: 225px;
        display: flex;
        flex-direction: column;
        position: sticky;
        padding-top: 0;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        position: unset;
    }

    nav a{
        font-weight: 550;
    }

    nav li{
        height: 40px;
    }

    nav ul li a{
        text-align: center;
    }

    body nav{
        height: 200px;
    }

    nav ul{
        height: 15px
    }

    nav ul li{
        height: 35px;
    }

    .fieldsetcon{
        display: flex;
        flex-direction: column;
    }

    .divimgc{
        display: flex;
        flex-direction: column;
        position: unset;
    }

    .navhis{
        display: none;
    }

    .regl section{
        width: 536px;
    }
    
    .regl{
        padding: 12px;
        margin-top: 2.6%;
        margin-left: 6.6%;
        margin-right: 6.6%;
        margin-bottom: 2%;
    }

    .flagsp{
        grid-template-columns: 30% 20% 50%;
    }

    .imgcon{
        margin-top: 4%;
        margin-bottom: 15%;
        height: 400px;
        width: auto;
        border-radius: 50px;
        padding: 30px
    }

}

@media (max-width: 648px){
    .regl section{
        width: 426px;
    }
    
    .regl{
        padding: 12px;
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .flagsp{
        display: flex;
        flex-direction: column;
        position: unset;
        padding: 10px;
        gap: 10px;
    }
    
    .flags .flagsp{
        padding: 10px;
    }

    .flagsp i{
        padding: 10px;
    }

    .puntcarr{
        height: 90px;
        width: 100%;
    }

    .imgcirchis{
        height: 400px;
        width: auto;
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 15px;
    }

    .imgcirchisk{
        height: 400px;
        width: auto;
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 15px;
    }

    .imgcirchisw{
        height: 400px;
        width: auto;
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 15px;
    }

    .imgcon{
        margin-bottom: 10%;
        height: 350px;
        border-radius: 40px;
        padding: 15%;
    }
    

}

@media (max-width: 560px) {

    body nav{
        height: 180px;
    }

    nav ul{
        height: 10px
    }

    nav ul li{
        height: 30px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        overflow: hidden;
        margin-left: 3px;
        margin-right: 2px;
    }

    .grid-container .or2{
        display: none;
    }

    .grid-container .or3{
        display: none;
    }

    .grid-container .or4{
        display: none;
    }

    .grid-container .or7{
        display: none;
    }

    .grid-container .or8{
        display: none;
    }

    .grid-container .or10{
        display: none;
    }

    .regl section{
        width: 340px;
    }

    .regl{
        margin-bottom: 10%;
    }

    .imgcon{
        margin-bottom: 2%;
        height: 280px;
        border-radius: 30px;
        padding: 5%;
    }

}

@media (max-width: 398px){
    .regl section{
        width: 280px;
    }

    footer{
        height: 70px;
        width: auto;
        padding: 8px;
        text-align: center;
    }

    .regl{
        margin-bottom: 15%;
    }

    .imgcirchis{
        height: 300px;
        width: auto;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    .imgcirchisk{
        height: 300px;
        width: auto;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    .imgcirchisw{
        height: 300px;
        width: auto;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    .imgcon{
        margin-bottom: 2%;
        height: 200px;
        border-radius: 25px;
        padding: 2%;
    }

}
