/* Paleta de colores */

:root{
    --color-one: #a6051a;
    --color-two: #ffeb00;
    --color-three: #ffffff;
    --color-four: #111111;
    --color-five: #121f45;
    --color-six: #223971;
    --color-seven: #cc1e4a;
    --color-eigth: #ffc906;
    --color-nine: #00352f;
    --color-ten: #00594f;
}

*{
    box-sizing: border-box;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    background-image: url(../img/logo\ \(4\).png);
    background-size: 100% 100%;
    height:300px;
}

nav{
    background-color: var(--color-nine);
    text-align: center;
    padding: 1px;
    margin: 0;
    border: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a:hover{
    background-color: var(--color-three);
    color: var(--color-four);
    padding: 10px;
    border-radius: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: var(--color-ten);
    margin-bottom: 30px;
}

aside{
    background-color: var(--color-four);
    padding: 10px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
}

aside p{
    color: var(--color-three);
}

aside h3{
    color: var(--color-three);
}

aside h4{
    color: var(--color-three);
}


.imgaside{
    height: auto;
    width: 300px;
    border-radius: 5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: justify;
}

footer {
    background-color: var(--color-four);
    color: var(--color-three); 
    text-align: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}